@import url('https://fonts.googleapis.com/css?family=Kanit|Oswald|Passion+One|Open+Sans');

@keyframes fadeIn { 
  from { opacity: 0; } 
  to { opacity: 1; }
}

@keyframes fadeInHalf { 
  from { opacity: 0; } 
  to { opacity: .5; }
}

@keyframes draw {
  from { transform: translateY(0) }
  to {
    stroke-dashoffset: 0;
    transform: translateY(0)
  }
}

@keyframes draw-chat {
  to {
    stroke-dashoffset: 1100;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.message-row1 {
  float: left;
  width: 100%;
  height: 150px;
}

.message-row2 {
  float: left:
  width: 100%;
  height: 60%;
}

.message-row1-col1 {
  float: left;
  width: 40%;
  height: 100%;
}

.message-row1-col2 {
  float: left;
  width: 60%;
  height: 100%;
}

.message-row1-col2-row1 {
  float: left;
  width: 100%;
  height: 50%;
}

.message-row1-col2-row2 {
  float: left;
  width: 100%;
  height: 50%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f39877;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    resize:none;
    outline:none;
}

textarea.message {
  height:140px;
}

input[type=submit] {
    background-color: #f39877;
    color: #333333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Oswald', bold;
    font-size:17px;
}

.column1 {
    float: left;
    width: 67%;
    height: 340px;
    padding-right:3%;
}

.column2 {
    float: left;
    width: 30%;
    height: 340px;
}

.column2-top {
  width:100%;
  height:40%;
  /*padding-bottom:3%;*/
}

.inner-column2-top {
  width:100%;
  height:80%;
  padding-top:5%;
  /*margin: auto 0;*/
  /*position: sticky;*/
/*  top: 50%;
  transform: translateY(-50%);*/
}

.column2-bottom {
  width:100%;
  height:60%;
  /*padding-top:3%;*/
  border: 1px solid #f39877;
  border-radius: 10px 10px 10px 10px;
}

.inner-column2-bottom {
  height:100%;
  width:85%;
  padding-top:8px;
  margin:auto;
}

/* Clear floats after the columns */
.row:after {
  /*content: "";*/
  display: table;
  clear: both;
  width:50%;
  height:100%;
}

.inner-column {
  width:95%;
  margin: auto;
  border: 1px solid #f39877;
  height:100%;
  border-radius: 10px 10px 10px 10px;
}

.inner-inner-column {
  height:100%;
  width:85%;
  padding-top:15px;
  margin:auto;
}

svg.defs {
  height:0; width:0; margin:0; padding:0;
}


.testing {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 55%;
  left: 50%;
  background-color: transparent;
}

.testing-right {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 55%;
  left: 50%;
  left:78%;
  background-color: transparent;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  transform:translateY(8%);
  grid-template-columns: auto auto auto auto;
  margin:auto;
  resize:vertical;
}

.grid-container-title {
  display: grid;
  width:50%;
  align-content: end;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  /*display:none;*/
}

div#top {
   width: 100%;
   text-align: center;
   z-index: 1000;
   padding-top:2.5%;
   resize:vertical;
}

.grid-item {
  font-size: 15px;
  text-align: center;
  color: #fffefa;
  align-items: center;
  /*cursor: pointer;*/
  padding:10px;
  /*margin: auto;*/
}

.grid-item:hover .cd{
  opacity:1;
}

.grid-item:hover .cd-case{
  opacity:0;
}

.cd-case {
  position:absolute;
}

.cd {
  opacity:0;
}

.scroll-proj:hover ellipse{
  fill:#333333;
  stroke:#F39877;
}

.scroll-proj:hover polygon{
  fill:#F39877;
}

.exit-tv:hover circle{
  fill:#333333;
  stroke:#F39877;
}

.exit-tv:hover line{
  stroke:#F39877;
}


.grid-item-title {
  padding: 0px;
  text-align: center;
  margin:auto;
  font-size:20px;
  font-family: 'Oswald', bold;
}

body {
  font-family: 'Oswald', bold;
  /*background-color: #fffefa*/
  background:linear-gradient(#fffefa, #ffe4b3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.inverted {
  background:#333333;
}

.subtitle {
  font-family: 'Oswald', bold;
  font-size:35px;
  padding:20px;
  text-shadow: 2px 0px #F39877;
  display: inline-block;
  line-height:20px;
  color:#333333;
}

.tv {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  margin:auto;
}

.name {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  margin:auto;
}

p {
  opacity: 0;
  font-size:15px;
  font-family: 'Open Sans', sans-serif;
}

.projecttext {
  opacity: 100;
  font-size:11px;
  font-family:'Open Sans', sans-serif;
}

b {
  font-size:20px;
  color:#333333;
}

.projecttitle {
  font-size:30px;
}

html {
  /*background:linear-gradient(white, tan);*/
  --hover-color: blue;
}


.drawn-stroke {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: ease;
  animation-duration: 2s;
  /*animation-direction:reverse;*/
}

.test-stroke {
  stroke:yellow;
}


.black-stroke {
  fill: none;
  stroke: #333333;
  stroke-width:1;
  /*stroke-miterlimit:10;*/
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1; 
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

.fade-in-1 {
  opacity: 0;
  animation: fadeIn ease-in 1; 
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: .2s;
}

.fade-to-half {
  opacity: 0;
  animation: fadeInHalf ease-in 1; 
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

.pink-fill {
  fill:#F39877;
  /*opacity:.5;*/
}

.pink-stroke {
  stroke:#F39877;
  stroke-width:1;
  fill:none;
}

.black-fill {
  fill:#333333;
}

.no-fill {
  fill:none;
}

.invertedst0{
  fill:none;
  stroke:#F39877;
  stroke-width:3;
}

b.invertedst1{
  color:#F39877;
}

.st2 {
  fill:none;
  stroke:none;
}

.st3 {
  fill: #333333;
}

.animate-reveal {
  font-family: 'Oswald', bold;
  font-size:35px;
  padding:20px;
  text-shadow: 2px 0px #F39877;
  opacity: 0;
  animation: reveal 1.5s ease 1 normal forwards;
}

.svg-reveal {
  opacity:0;
  animation: revealnow 1s ease 1 normal forwards;
  animation-delay: 0s;
}

.svg-reveal-skill {
  opacity:0;
  animation: revealskill 1s ease 1 normal forwards;
  animation-delay: 0s;
}

.svg-reveal-up {
  opacity:0;
  animation: reveal 1s ease 1 normal forwards;
  animation-delay:0s;
}

.svg-reveal-from-left {
  opacity:0;
  animation: revealleft 1s ease 1 normal forwards;
  animation-delay:0s;
}

.svg-scale {
  opacity:0;
  animation: expand 1s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay:3s;
  transform-origin: 50% 50%;
}

.svg-scale-20 {
  animation: expand-20 1s ease-out 1;
  animation-fill-mode: forwards;
  animation-delay:3s;
  transform-origin: 50% 50%;
}

.animate-first {
    animation-delay: 1800ms;
}

.animate-second {
    animation-delay: 2650ms;
}

.animate-third {
    animation-delay: 3600ms;
}

.text-fade-in {
  animation:textfade 3s ease-in;
}

.popin {
  opacity: 0;
  animation: pop .8s ease-in-out 1;
  display:inline-block;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.glitchy-fade-in {
  opacity:0;
  animation: glitchyfadein 1s ease;
  animation-fill-mode: forwards;
  animation-delay:2s;
}

.glitchy-fade-in-to-half {
  opacity:0;
  animation: glitchyfadeintohalf 1s ease;
  animation-fill-mode: forwards;
  animation-delay:2s;
}

.text-color-change {
  animation: textcolorchange .4s ease;
  animation-fill-mode:forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: .5;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealleft {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealnow {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealtest {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  60% {
    opacity: .5;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealright {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealskill {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit {
  100% {
    opacity: 1;
    transform:translateX(0);
  }
  0% {
    opacity: 0;
    transform:translateX(50%);
  }
}

@keyframes expand {
  0% {
      opacity: 0;
      transform: scale(1.0);
      /*-webkit-transform: scale(1.0);*/
  }
  55% {
    opacity:.5;
    transform: scale(1.02);
    /*-webkit-transform: scale(1.05);*/
  }
  100% {
      opacity: 1;
      transform: scale(1.0);
      /*-webkit-transform: scale(1.0);*/
  }
}

@keyframes expand-20 {
  0% {
      transform: scale(1.0);
      /*-webkit-transform: scale(1.0);*/
  }
  55% {
    transform: scale(1.2);
    /*-webkit-transform: scale(1.05);*/
  }
  100% {
      transform: scale(1.0);
      /*-webkit-transform: scale(1.0);*/
  }
}

@keyframes textfade {
  0% {width:0%;}
  100% {width:100%;}
}

@keyframes textcolorchange{
  0% {color:#333333;}
  50%{color:#f39877;}
  100%{color:#333333;}
}

@keyframes glitchyfadein {
  0%{opacity:0;}
  10%{opacity:.1;}
  11%{opacity:0;}
  20%{opacity:.3;}
  25%{opacity:0;}
  40%{opacity:.5;}
  45%{opacity:.2;}
  50%{opacity:0;}
  55%{opacity:.7;}
  70%{opacity:0;}
  85%{opacity:.9;}
  95%{opacity:0;}
  100%{opacity:1;}
}

@keyframes glitchyfadeintohalf {
  0%{opacity:0;}
  10%{opacity:.1;}
  11%{opacity:0;}
  20%{opacity:.2;}
  25%{opacity:0;}
  40%{opacity:.3;}
  45%{opacity:.2;}
  50%{opacity:0;}
  55%{opacity:.4;}
  70%{opacity:0;}
  85%{opacity:.45;}
  95%{opacity:0;}
  100%{opacity:.5;}
}

@keyframes moveleft {
  from {transform:translate(0%,0%);}
  to {transform:translate(-8%,0%);}
}

.move-left {
  animation: moveleft 1s ease;
  animation-fill-mode: forwards;
  animation-delay:2s;
}

@keyframes fade-quad-11 {
  0% {
    opacity: 0;
    transform:translate(-60%,-20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-12 {
  0% {
    opacity: 0;
    transform:translate(-20%,-20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-13 {
  0% {
    opacity: 0;
    transform:translate(20%,-20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-14 {
  0% {
    opacity: 0;
    transform:translate(60%,-20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-21 {
  0% {
    opacity: 0;
    transform:translate(-60%,0%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-22 {
  0% {
    opacity: 0;
    transform:translate(-20%,0%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-23 {
  0% {
    opacity: 0;
    transform:translate(20%,0%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-24 {
  0% {
    opacity: 0;
    transform:translate(60%,0%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-31 {
  0% {
    opacity: 0;
    transform:translate(-60%,20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-32 {
  0% {
    opacity: 0;
    transform:translate(-20%,20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-33 {
  0% {
    opacity: 0;
    transform:translate(20%,20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

@keyframes fade-quad-34 {
  0% {
    opacity: 0;
    transform:translate(60%,20%);
  }
  100% {
    opacity: 1;
    transform:translate(0%, 0%);
  }
}

.fade-11 {
  opacity:0;
  animation: fade-quad-11 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-12 {
  opacity:0;
  animation: fade-quad-12 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-13 {
  opacity:0;
  animation: fade-quad-13 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-14 {
  opacity:0;
  animation: fade-quad-14 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-21 {
  opacity:0;
  animation: fade-quad-21 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-22 {
  opacity:0;
  animation: fade-quad-22 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-23 {
  opacity:0;
  animation: fade-quad-23 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-24 {
  opacity:0;
  animation: fade-quad-24 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-31 {
  opacity:0;
  animation: fade-quad-31 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-32 {
  opacity:0;
  animation: fade-quad-32 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-33 {
  opacity:0;
  animation: fade-quad-33 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.fade-34 {
  opacity:0;
  animation: fade-quad-34 1s ease;
  animation-fill-mode: forwards;
  animation-delay:0s;
}

.cd-load {
    -webkit-animation: rotation .3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


