@import url('https://fonts.googleapis.com/css?family=Kanit|Oswald|Passion+One|Open+Sans');

@keyframes fadeIn { 
  from { opacity: 0; } 
  to { opacity: 1; }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.message-row1 {
  float: left;
  width: 100%;
  height: 150px;
}

.message-row2 {
  float: left:
  width: 100%;
  height: 60%;
}

.message-row1-col1 {
  float: left;
  width: 40%;
  height: 100%;
}

.message-row1-col2 {
  float: left;
  width: 60%;
  height: 100%;
}

.message-row1-col2-row1 {
  float: left;
  width: 100%;
  height: 50%;
}

.message-row1-col2-row2 {
  float: left;
  width: 100%;
  height: 50%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f39877;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    resize:none;
    outline:none;
}

textarea.message {
  height:140px;
}

input[type=submit] {
    background-color: #f39877;
    color: #333333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Oswald', bold;
    font-size:17px;
}

.column1 {
    float: left;
    width: 67%;
    height: 340px;
    padding-right:3%;
}

.column2 {
    float: left;
    width: 30%;
    height: 340px;
}

.column2-top {
  width:100%;
  height:40%;
  /*padding-bottom:3%;*/
}

.inner-column2-top {
  width:100%;
  height:80%;
  padding-top:5%;
  /*margin: auto 0;*/
  /*position: sticky;*/
/*  top: 50%;
  transform: translateY(-50%);*/
}

.column2-bottom {
  width:100%;
  height:60%;
  /*padding-top:3%;*/
  border: 1px solid #f39877;
  border-radius: 10px 10px 10px 10px;
}

.inner-column2-bottom {
  height:100%;
  width:85%;
  padding-top:8px;
  margin:auto;
}

/* Clear floats after the columns */
.row:after {
  /*content: "";*/
  display: table;
  clear: both;
  width:50%;
  height:100%;
}

.inner-column {
  width:95%;
  margin: auto;
  border: 1px solid #f39877;
  height:100%;
  border-radius: 10px 10px 10px 10px;
}

.inner-inner-column {
  height:100%;
  width:85%;
  padding-top:15px;
  margin:auto;
}

svg.defs {
  height:0; width:0; margin:0; padding:0;
}

.mysvg {
  /*background-color:green;*/
}

.myhands {
  position:absolute;
  /*top:0;*/
  bottom:0;
  margin:0 auto;
  text-align:center;
  width:100%;
  resize:both;
/*  right:0;
  left:0;*/
  display:none;
}

.testing {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 55%;
  left: 50%;
  background-color: transparent;
}

.grid-container {
  display: grid;
  width:75%;
  grid-template-columns: auto auto auto auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 53%;
  left: 50%;
  margin:auto;
  resize:vertical;
  /*display:none;*/
}

.grid-container-title {
  display: grid;
  width:50%;
  align-content: end;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  /*display:none;*/
}

div#top {
   width: 100%;
   text-align: center;
   z-index: 1000;
   padding-top:2.5%;
   resize:vertical;
}

.grid-item {
  font-size: 15px;
  text-align: center;
  color: #fffefa;
  align-items: center;
  cursor: pointer;
  /*margin: auto;*/
}

.grid-item-title {
  padding: 0px;
  text-align: center;
  margin:auto;
  font-size:20px;
}

body {
  font-family: 'Oswald', bold;
  /*background-color: #fffefa*/
  background:linear-gradient(#fffefa, #ffe4b3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.inverted {
  background:#333333;
}

.subtitle {
  font-size:35px;
  padding:20px;
  text-shadow: 2px 0px #F39877;
}

.tv {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  margin:auto;
}

.name {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  margin:auto;
}

p {
  opacity: 0;
  font-size:15px;
  font-family: 'Open Sans', sans-serif;
}

.projecttext {
  opacity: 100;
  font-size:11px;
  font-family:'Open Sans', sans-serif;
}

b {
  font-size:20px;
  color:#333333;
}

.projecttitle {
  font-size:30px;
}

html {
  /*background:linear-gradient(white, tan);*/
  --hover-color: #333333;
}

#logo{
  padding:120px;
}

#logo:hover {
  color: var(--hover-color)
}

#logo:hover .st0 {
  stroke: var(--hover-color)
}

/*#logo1 {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

#logo2 {
  stroke-dasharray: 101;
  stroke-dashoffset: 90;
}

#logo3 {
  stroke-dasharray: 101;
  stroke-dashoffset: 101;
}

#logo4 {
  stroke-dasharray: 208;
  stroke-dashoffset: 208;
}

#logo5 {
  stroke-dasharray: 103;
  stroke-dashoffset: 103;
}

#logo6 {
  stroke-dasharray: 103;
  stroke-dashoffset: 103;
}

#logo7 {
  stroke-dasharray: 103;
  stroke-dashoffset: 103;
}

#logo8 {
  stroke-dasharray: 103;
  stroke-dashoffset: 103;
}*/


#shopkick:hover {
  color: var(--hover-color);
}

#shopkick:hover .st0 {
  stroke: var(--hover-color)
}

#shopkick:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#shopkick1 {
  stroke-dasharray: 422;
  stroke-dashoffset: 422;
}

#breezy:hover {
  color: var(--hover-color)
}

#breezy:hover .st0 {
  stroke: var(--hover-color)
}

#breezy:hover .st1 {
  fill: var(--hover-color)
}

#breezy:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#breezy1 {
  stroke-dasharray:20;
  stroke-dashoffset:20;
}

#breezy2 {
  stroke-dasharray:31;
  stroke-dashoffset:31;
}

#breezy3 {
  stroke-dasharray:31;
  stroke-dashoffset:31;
}

#breezy4 {
  stroke-dasharray:33;
  stroke-dashoffset:33;
}

#breezy5 {
  stroke-dasharray:48;
  stroke-dashoffset:48;
}

#breezy6 {
  stroke-dasharray:523;
  stroke-dashoffset:523;
}

#calappointments:hover {
  color:var(--hover-color)
}

#calappointments:hover .st0 {
  stroke: var(--hover-color)
}

#calappointments:hover .st1 {
  fill: var(--hover-color)
}

#calappointments:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#cal1 {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
}

#cal2 {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
}

#cal3 {
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
}

#cal4 {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
}

#cal5 {
  stroke-dasharray: 61;
  stroke-dashoffset: 61;
}

#cal6 {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
}

#cal7 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
}

#cal8 {
  stroke-dasharray: 49;
  stroke-dashoffset: 49;
}

#awkotaco:hover {
  color: var(--hover-color)
}

#awkotaco:hover .st0 {
  stroke: var(--hover-color)
}

#awkotaco:hover .st1 {
  fill:var(--hover-color)
}

#awkotaco:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#taco1 {
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
}

#taco2 {
  stroke-dasharray: 72;
  stroke-dashoffset: 72;
}

#taco3 {
  stroke-dasharray: 72;
  stroke-dashoffset: 72;
}

#taco4 {
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
}

#taco5 {
  stroke-dasharray: 14;
  stroke-dashoffset: 14;
}

#taco6 {
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}

#taco7 {
  stroke-dasharray: 191;
  stroke-dashoffset: 191;
}

#taco8 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
}

#taco9 {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
}

#graphicdesign:hover {
  color: var(--hover-color)
}

#graphicdesign:hover .st0 {
  stroke: var(--hover-color)
}

#graphicdesign:hover .st1 {
  fill: var(--hover-color)
}

#graphicdesign:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#design1 {
  stroke-dasharray: 496;
  stroke-dashoffset: 496;
}

#design2 {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
}

#design3 {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

#design4 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
}

#youtube:hover {
  color: var(--hover-color)
}

#youtube:hover .st0 {
  stroke: var(--hover-color)
}

#youtube:hover .st1 {
  fill: var(--hover-color)
}

#youtube:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#youtube1 {
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
}

#youtube2 {
  stroke-dasharray: 38;
  stroke-dashoffset: 38;
}

#youtube3 {
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
}

#youtube4 {
  stroke-dasharray: 93;
  stroke-dashoffset: 93;
}

#youtube5 {
  stroke-dasharray: 93;
  stroke-dashoffset: 93;
}

#labassistant:hover {
  color: var(--hover-color)
}

#labassistant:hover .st0 {
  stroke: var(--hover-color)
}

#labassistant:hover .st1 {
  fill: var(--hover-color)
}

#labassistant:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#lab1 {
  stroke-dasharray: 278;
  stroke-dashoffset: 278;
}

#lab2 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
}

#lab3 {
  stroke-dasharray: 208;
  stroke-dashoffset: 208;
}

#securefiles:hover {
  color: var(--hover-color)
}

#securefiles:hover .st0 {
  stroke: var(--hover-color)
}

#securefiles:hover .st1 {
  fill: var(--hover-color)
}

#securefiles:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#secure1 {
  stroke-dasharray: 98;
  stroke-dashoffset: 98;
}

#secure2 {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
}

#secure3 {
  stroke-dasharray: 38;
  stroke-dashoffset: 38;
}

#secure4 {
  stroke-dasharray: 33;
  stroke-dashoffset: 33;
}

#shakespeare:hover {
  color: var(--hover-color)
}

#shakespeare:hover .st0 {
  stroke: var(--hover-color)
}

#shakespeare:hover .st1 {
  fill: var(--hover-color)
}

#shakespeare:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#shakespeare1 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
}

#shakespeare2 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
}

#shakespeare3 {
  stroke-dasharray: 265;
  stroke-dashoffset: 265;
}

#shakespeare4 {
  stroke-dasharray: 184;
  stroke-dashoffset: 184;
}

#shakespeare5 {
  stroke-dasharray: 37;
  stroke-dashoffset: 37;
}

#shakespeare6 {
  stroke-dasharray: 14;
  stroke-dashoffset: 14;
}

#shakespeare7 {
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
}

#steal:hover {
  color: var(--hover-color)
}

#steal:hover .st0 {
  stroke: var(--hover-color)
}

#steal:hover .st1 {
  fill: var(--hover-color)
}

#steal:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#steal1 {
  stroke-dasharray: 370;
  stroke-dashoffset: 370;
}

#steal2 {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

#steal3 {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

#steal4 {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

#steal5 {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

#steal6 {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

#steal7 {
  stroke-dasharray: 107;
  stroke-dashoffset: 107;
}

#steal8 {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
}

#steal9 {
  stroke-dasharray: 26;
  stroke-dashoffset: 26;
}

#car:hover {
  color: var(--hover-color)
}

#car:hover .st0 {
  stroke: var(--hover-color)
}

#car:hover .st1 {
  fill: var(--hover-color)
}

#car:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#car1 {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
}

#car2 {
  stroke-dasharray: 407;
  stroke-dashoffset: 407;
}

#car3 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
}

#car4 {
  stroke-dasharray: 71;
  stroke-dashoffset: 71;
}

#car5 {
  stroke-dasharray: 71;
  stroke-dashoffset: 71;
}

#car6 {
  stroke-dasharray: 288;
  stroke-dashoffset: 288;
}

#car7 {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
}

#car8 {
  stroke-dasharray: 128;
  stroke-dashoffset: 128;
}

#car9 {
  stroke-dasharray: 129;
  stroke-dashoffset: 129;
}

#car10 {
  stroke-dasharray: 127;
  stroke-dashoffset: 127;
}

#car11 {
  stroke-dasharray: 122;
  stroke-dashoffset: 122;
}

#car12 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
}

#comics:hover {
  color: var(--hover-color)
}

#comics:hover .st0 {
  stroke: var(--hover-color)
}

#comics:hover .st1 {
  fill: var(--hover-color)
}

#comics:hover p {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#comics1 {
  stroke-dasharray: 351;
  stroke-dashoffset: 351;
}

#comics2 {
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
}

#comics3 {
  stroke-dasharray: 117;
  stroke-dashoffset: 117;
}

.st0{
  fill:none;
  stroke:#333333;
  stroke-width:1.5;
  stroke-miterlimit:10;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
  animation-duration: 1s;}

.st1 {
  fill: #333333;
  opacity: 0;
  animation: fadeIn ease-in 1; 
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

.invertedst0{
  fill:none;
  stroke:#F39877;
  stroke-width:3;
}

b.invertedst1{
  color:#F39877;
}

.st2 {
  fill:none;
  stroke:none;
}

.st3 {
  fill: #333333;
}
